<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzcge.Mapper.UserMapper">
    <!--public void insert(User user);-->
    <insert id="insert" parameterType="com.lzcge.Entity.User">
        INSERT INTO  t_user(user_name,user_password)VALUES (#{name},#{pwd});
    </insert>

    <!--public List<User> SelectUser();-->
    <select id="SelectUser" resultType="User">
        SELECT * FROM t_user;
    </select>

</mapper>